.trigger {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -3px;
  margin-left: -3px;
  cursor: move;
  background: #00A79D;
  border-radius: 50%;
  &.animating {
    background: #EF4136;
  }
}

.no-select { 
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

p.comment {
  margin: 0 0 15px 0;
  padding: 0;
  overflow: hidden;
  a:link, a:visited {
    color: white;
    border-bottom: 2px solid white;
    text-decoration: none;
    box-shadow: 0 1px #777;
  }
  a:hover, a:active {
    border-bottom: 2px solid transparent;
    box-shadow: 0 1px transparent;
  }
}

.comment {
  font-family: 'Lekton', monospace;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px #333;
}

#loader {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.9) url(../images/ajax-loader.gif) center center no-repeat;
  border-radius: 50%;
}