@import 'bourbon/bourbon';

$font-family: 'Inconsolata', monospace;
$font-size: 16px;

* {
  margin: 0;
  padding: 0;
}

#content {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(181, 181, 181);

  #stage {
    background: rgb(181, 181, 181);
  }

}

#lobby {

  position: fixed;
  top: 50%;
  left: 50%;
  $d: 32px;

  #loader {
    position: relative;
    width: $d;
    height: $d;
    background: rgba(255, 255, 255, 0.9) url(../images/ajax-loader.svg) center center no-repeat;
    background-size: ($d / 2) ($d / 2);
    margin-left: - ($d / 2);
    margin-top: - ($d / 2);
    border-radius: 50%;
    @include animation-name(rotate);
    @include animation-duration(1s);
    @include animation-timing-function($ease-in-out-circ);
    @include animation-iteration-count(infinite);
  }
  #asset-info {
    position: relative;
    font-family: $font-family;
    font-size: $font-size;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    margin-top: $d;
    width: 300px;
    margin-left: -150px;
  }

}

@include keyframes(rotate) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(360deg));
  }
}