* {
  margin: 0;
  padding: 0; }

#content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #content #stage {
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    transition: background-color 1s;
    background: #b5b5b5; }
    #content #stage.background-0 {
      background: #b5b5b5; }
    #content #stage.background-1 {
      background: #396dc1; }
    #content #stage.background-2 {
      background: #d9521f; }
    #content #stage.background-3 {
      background: #fff4d3; }
    #content #stage.background-4 {
      background: #bfb28a; }
    #content #stage.background-5 {
      background: white; }
    #content #stage.background-6 {
      background: #270636; }

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.9) url(../images/ajax-loader.svg) center center no-repeat;
  background-size: 16px 16px;
  margin-left: -16px;
  margin-top: -16px;
  border-radius: 50%;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    transform: rotate(0); }

  to {
    transform: rotate(360deg); } }
