* {
  margin: 0;
  padding: 0; }

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

#credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #666; }
  #credits ul {
    list-style: none;
    text-align: center;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 12px;
    line-height: 64px; }
    #credits ul li {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      padding: 0 16px;
      color: #ccc;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
      #credits ul li strong {
        font-weight: normal;
        color: white; }
      #credits ul li a {
        color: #ccc;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        #credits ul li a:hover {
          color: #fff;
          border-bottom-color: rgba(255, 255, 255, 0.85); }
        #credits ul li a#jonobr1, #credits ul li a#lullatone {
          display: inline-block;
          vertical-align: baseline;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          width: 20px;
          height: 16px;
          margin: -3px 8px 0;
          vertical-align: middle;
          border-bottom-color: transparent;
          text-shadow: none;
          opacity: 0.5;
          text-indent: -9999px;
          overflow: hidden; }
          #credits ul li a#jonobr1:hover, #credits ul li a#lullatone:hover {
            opacity: 0.9;
            color: transparent;
            border-bottom-color: transparent; }
        #credits ul li a#jonobr1 {
          width: 20px;
          background: url(../images/jonobr1.svg) center center no-repeat; }
        #credits ul li a#lullatone {
          width: 20px;
          background: url(../images/lullatone.svg) center center no-repeat; }
    #credits ul li {
      border-left: 1px solid rgba(255, 255, 255, 0.1); }
    #credits ul li:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1); }

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b5b5b5;
  -webkit-transition: top 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: top 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: top 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }
  #content #stage {
    background: #b5b5b5; }

#hint {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #hint .message {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background: white;
    color: #666666;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 12px;
    line-height: 32px;
    border-radius: 10.56px;
    padding: 0 16px; }
    @media (max-width: 400px) {
      #hint .message {
        font-size: 10px; } }

#embed {
  position: fixed;
  top: 50%;
  left: 50%; }
  #embed textarea {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 320px;
    height: 32px;
    margin-left: -176px;
    margin-top: -96px;
    font-family: "Inconsolata", monospace;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    padding: 16px;
    border-radius: 10.56px;
    border: 0;
    outline: none;
    resize: none; }

#lobby {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: visible; }
  #lobby #loader {
    position: relative;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.9) url(../images/ajax-loader.svg) center center no-repeat;
    background-size: 16px 16px;
    margin-left: -16px;
    margin-top: -16px;
    border-radius: 50%;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  #lobby #asset-info {
    position: relative;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    margin-top: 32px;
    width: 300px;
    margin-left: -150px; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    transform: rotate(0); }

  to {
    transform: rotate(360deg); } }
